<div class="form-1">

    <!-- LAYOUTS -->

    <div class="form-row">
        <div class="label">First name</div>
        <div class="input">
            <input type="text" placeholder="First name" [value]="studentForm.firstName.value" (input)="updateFirstName($event.target.value)">
        </div>
    </div>

    <div class="form-row">
        <div class="label label-right">Label right</div>
        <div class="input">
            <input type="text" placeholder="Last name" [value]="studentForm.lastName.value">
        </div>
        <div class="actions-1">
            <div class="action-1">
                <i class="fa fa-times"></i>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-col">
            <div class="label">Phone #</div>
            <div class="something-else">
                +1
            </div>
            <div class="input input-short">
                <input type="text" placeholder="xxx-xxx-xxxx">
            </div>
        </div>
        <div class="form-col">
            <div class="label label-right label-no-width">ext.</div>
            <div class="input input-no-width">
                <input type="text" placeholder="ext">
            </div>
        </div>
    </div>

    <div class="form-row form-row-double">
        <div class="top">
            <div class="label">
                Double row
            </div>
        </div>
        <div class="bottom">
            <div class="input">
                <input type="text">
            </div>
        </div>
    </div>

    <!-- VALIDATIONS -->

    <div class="form-row invalid">
        <div class="label">Invalid input</div>
        <div class="input">
            <input type="text" placeholder="Invalid input">
            <div class="error-message">
                <i class="fa fa-exclamation-triangle"></i>The field is required
            </div>
        </div>
    </div>

    <div class="form-row form-row-double invalid">
        <div class="top">
            <div class="label">Invalid input</div>
        </div>
        <div class="bottom">
            <div class="input">
                <input type="text" placeholder="Invalid input">
                <div class="error-message">
                    <i class="fa fa-exclamation-triangle"></i>The field is required
                </div>
            </div>
        </div>
    </div>

    <div class="form-row valid">
        <div class="label">Valid input</div>
        <div class="input">
            <input type="text" placeholder="Valid input">
        </div>
    </div>


    <!-- INPUTS -->

    <div class="form-section-name">
        <div class="left">
            <div class="title">
                Inputs
            </div>
        </div>
        <div class="right">
            <div class="actions-1">
                <div class="action-1">
                    <i class="fa fa-caret-down"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- input -->
    <div class="form-row">
        <div class="label">Text input</div>
        <div class="input">
            <input type="text">
        </div>
    </div>

    <!-- textarea -->
    <div class="form-row">
        <div class="label">Text area</div>
        <div class="input">
            <textarea></textarea>
        </div>
    </div>

    <!-- select -->
    <div class="form-row">
        <div class="label">Select</div>
        <div class="input">
            <select>
                <option value="1">1</option>
            </select>
        </div>
    </div>

    <!-- checkbox -->
    <div class="form-row">
        <div class="input"
             [ngClass]="form.isForSale.stateClass">
            <input type="checkbox"
                   id="is-for-sale"
                   [checked]="form.isForSale.value"
                   (input)="updateValueOnInput('isForSale', $event.target.checked)">
            <label for="is-for-sale" class="checkbox-label">Checkbox</label>
        </div>
    </div>

</div>
