@import '../styles-variables';

$list-1-width: 100%;
$list-1-height: 100%;
$list-1-border: 1px solid $color-light-1;
$list-1-row-height: 30px;
$list-1-row-border-bottom: 1px solid $color-light-1;
$list-1-row-padding: 0 15px;
$list-1-row-background-hover: $color-light-1;
$list-1-row-background-selected: $color2;

.list-1 {
  width: $list-1-width;
  height: $list-1-height;

  .list-row {
    height: $list-1-row-height;
    display: flex;
    align-items: center;
    padding: $list-1-row-padding;
    border-bottom: $list-1-row-border-bottom;

    .left,
    .right {
      flex: 1;
      display: flex;
      align-items: center;
    }

    .left {
      .icon {
        margin-right: 10px;
      }

      .text {
        margin-right: 10px;
      }
    }

    .right {
      justify-content: flex-end;

      .actions-1 {
        .action-1 {
          opacity: 0;
        }
      }
    }
  }

  .list-row-cursor {
    cursor: pointer;
  }

  .list-row:hover:not(.list-row-no-hover):not(.selected) {
    background-color: $list-1-row-background-hover;
  }

  .list-row:hover {
    .right {
      .actions-1 {
        .action-1 {
          opacity: 1;
        }
      }
    }
  }

  .list-row.selected {
    background-color: $list-1-row-background-selected;

    .left {
      .icon,
      .text {
        color: $text-white;
      }
    }

    .right {
      .actions-1 {
        .action-1 {
          > i.fa {
            color: $text-white;
          }
        }
      }
    }
  }

  .list-row.list-row-level-1 { padding-left: 50px; }
  .list-row.list-row-level-2 { padding-left: 100px; }
  .list-row.list-row-level-3 { padding-left: 150px; }
  .list-row.list-row-level-4 { padding-left: 200px; }
  .list-row.list-row-level-5 { padding-left: 250px; }

  .list-row.list-row-no-border {
    border-bottom: none;
  }
}

.list-1.list-border {
  border: $list-1-border;
}
