<div class="list-1">
    <div class="list-row">
        <div class="left">
            <div class="icon">
                <i class="fa fa-home"></i>
            </div>
            <div class="text">
                Some
            </div>
        </div>
        <div class="right">
            <div class="actions-1">
                <div class="action-1">
                    <i class="fa fa-times"></i>
                </div>
            </div>
        </div>
    </div>
</div>