<div class="page-title-1">
    <div class="left">
        <div class="title">
            Students
        </div>
        <div class="actions-1">
            <div class="action-1 action-1-constructive">
                <a [routerLink]="'create'">
                    <button class="button-1 button-green">Add</button>
                </a>
            </div>
        </div>
    </div>
    <div class="right">

    </div>
</div>
