@import "../styles-variables";

$page-title-1-height: 60px;
$page-title-1-background-color: #fff;
$page-title-1-padding: 0 15px;
$page-title-1-font-size: 20px;
$page-title-1-color: #5e5e5e;
$page-title-1-border-bottom: 1px solid #ccc;
$page-title-1-title-margin-right: 15px;

.page-title-1 {
  height: $page-title-1-height;
  background-color: $page-title-1-background-color;
  display: flex;
  align-items: center;
  padding: $page-title-1-padding;
  border-bottom: $page-title-1-border-bottom;

  .left,
  .right {
    flex: 1;
    display: flex;
    height: $page-title-1-height;
    align-items: center;

    .title {
      font-size: $page-title-1-font-size;
      color: $page-title-1-color;
      margin-right: $page-title-1-title-margin-right;
    }
  }
}
