$panel-1-background-color: #fff;
$panel-1-border: 1px solid #e2e2e2;
$panel-1-border-radius: 4px;
$panel-1-header-height: 40px;
$panel-1-header-side-padding: 15px;
$panel-1-header-border-bottom: 1px solid #e2e2e2;
$panel-1-header-title-font-size: 20px;
$panel-1-body-padding: 15px;

.panel-1 {
  border: $panel-1-border;
  background-color: $panel-1-background-color;
  border-radius: $panel-1-border-radius;

  .panel-header {
    height: $panel-1-header-height;
    display: flex;
    align-items: center;
    padding: 0 $panel-1-header-side-padding;
    border-bottom: $panel-1-header-border-bottom;

    .left,
    .right {
      flex: 1;
      height: $panel-1-header-height;
      display: flex;
      align-items: center;
    }

    .left {
      .panel-1title {
        font-size: $panel-1-header-title-font-size;
      }
    }

    .right {
      justify-content: flex-end;
    }
  }

  .panel-body {
    min-height: 20px;
    padding: $panel-1-body-padding;
  }
}
