<div class="table-1">
    <div class="table-tools">
        <div class="left">

        </div>
        <div class="right">
            <div class="table-search">
                <input type="text" placeholder="Filter...">
            </div>
        </div>
    </div>
    <div class="table-header">
        <div class="header-cell">Name</div>
        <div class="header-cell">Email</div>
    </div>
    <div class="table-body">
        <div class="data-row">
            <div class="data-cell">name</div>
            <div class="data-cell">email</div>
        </div>
    </div>
</div>
