@import "../styles-variables";

$table-1-border: 1px solid $color-light-1;

$table-1-data-tools-height: 50px;
$table-1-search-width: 200px;
$table-1-search-height: 30px;

$table-1-header-cell-height: 40px;
$table-1-header-cell-font-size: 18px;
$table-1-header-border-bottom: 1px solid $color-light-1;
$table-1-header-color: $color-medium-1;

$table-1-data-row-hover-background-color: #f2f2f2;

$table-1-data-cell-height: 40px;
$table-1-data-cell-border: 1px solid $color-light-1;

$table-1-cell-margin: 0 10px;

.table-1 {
  .table-tools {
    display: flex;
    height: $table-1-data-tools-height;
    align-items: center;

    .left,
    .right {
      flex: 1;
      height: $table-1-data-tools-height;
      display: flex;
      align-items: center;
    }

    .right {
      justify-content: flex-end;
    }

    .table-search {
      > input {
        width: $table-1-search-width;
        height: $table-1-search-height;
        padding: 0 3px;
        border-radius: 0;
        border: 1px solid $color-light-1;
      }

      > input:focus {
        border-color: $color-grey-1;
      }
    }
  }

  .table-header {
    display: flex;
    align-items: center;
    height: $table-1-header-cell-height;
    border: $table-1-header-border-bottom;

    .header-cell {
      height: $table-1-header-cell-height;
      line-height: $table-1-header-cell-height;
      font-size: $table-1-header-cell-font-size;
      color: $table-1-header-color;
    }

    .header-cell:not(:last-child) {
      border-right: $table-1-data-cell-border;
    }
  }

  .table-body {
    border-right: $table-1-header-border-bottom;
    border-left: $table-1-header-border-bottom;

    .data-row {
      display: flex;
      height: $table-1-data-cell-height;
      border-bottom: $table-1-data-cell-border;

      .data-cell {
        height: $table-1-data-cell-height;
        line-height: $table-1-data-cell-height;
        display: flex;
        align-items: center;
      }

      .data-cell.data-cell-actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }

      .data-cell:not(:last-child) {
        border-right: $table-1-data-cell-border;
      }
    }

    .data-row:nth-child(even) {
      background-color: $table-1-data-row-hover-background-color;
    }
  }

  .table-header .header-cell,
  .table-body .data-row .data-cell {
    flex-basis: 100%;
    margin: $table-1-cell-margin;
  }

  .table-header .header-cell.header-cell-width-100 { flex-basis: 100px; }
  .table-body .data-cell.data-cell-width-100 { flex-basis: 100px; }

  .table-header .header-cell.header-cell-width-120 { flex-basis: 120px; }
  .table-body .data-cell.data-cell-width-120 { flex-basis: 120px; }

  .table-header .header-cell.header-cell-width-140 { flex-basis: 140px; }
  .table-body .data-cell.data-cell-width-140 { flex-basis: 140px; }

  .table-header .header-cell.header-cell-width-160 { flex-basis: 160px; }
  .table-body .data-cell.data-cell-width-160 { flex-basis: 160px; }

  .table-header .header-cell.header-cell-width-180 { flex-basis: 180px; }
  .table-body .data-cell.data-cell-width-180 { flex-basis: 180px; }

  .table-header .header-cell.header-cell-width-200 { flex-basis: 200px; }
  .table-body .data-cell.data-cell-width-200 { flex-basis: 200px; }

  .table-header .header-cell.header-cell-width-300 { flex-basis: 300px; }
  .table-body .data-cell.data-cell-width-300 { flex-basis: 300px; }

  .table-header .header-cell.header-cell-width-400 { flex-basis: 400px; }
  .table-body .data-cell.data-cell-width-400 { flex-basis: 400px; }

  .table-header .header-cell.header-cell-width-500 { flex-basis: 500px; }
  .table-body .data-cell.data-cell-width-500 { flex-basis: 500px; }
}
