@import "../styles-variables";

$top-menu-height: 35px;
$top-menu-item-width: 160px;
$top-menu-font-size: 18px;
$top-menu-color: $color-orange-1;
$top-menu-icon-color: #585858;
$top-menu-background-color: #e2e2e2;
$top-menu-border-bottom: 1px solid $color-orange-1;

.top-menu-1 {
  display: flex;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: $top-menu-background-color;

  .menu-item {
    height: $top-menu-height;
    width: $top-menu-item-width;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $top-menu-font-size;
    cursor: pointer;
    text-decoration: none;
    color: $top-menu-color;
    position: relative;

    > i.fa {
      margin-right: 10px;
      font-size: $top-menu-font-size;
      color: $top-menu-icon-color;
      height: $top-menu-height;
      line-height: $top-menu-height;
    }
  }

  .menu-item:hover,
  .menu-item.active {
    border-bottom: $top-menu-border-bottom;
  }
}