<div class="top-menu-1">
    <a class="menu-item" routerLink="/one" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-cogs"></i>One
    </a>
    <a class="menu-item" routerLink="/two" routerLinkActive="active">
        <i class="fa fa-check-circle"></i>Two
    </a>
    <a class="menu-item" routerLink="/three" routerLinkActive="active">
        <i class="fa fa-database"></i>Three
    </a>
</div>