<mat-toolbar class="header">
  <span>Pyramid</span>
</mat-toolbar>
<mat-drawer-container class="side-menu">
  <mat-drawer mode="side" opened="true">
      <div class="menu-header"></div>
      <div class="menu-items">
          <div class="menu-item" routerLinkActive="selected" [routerLinkActiveOptions]="{exact:true}">
              <a routerLink="/">
                  <i class="fa fa-cogs"></i>Dashboard
              </a>
          </div>
      </div>
  </mat-drawer>
  <mat-drawer-content>
      <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>