@import 'styles-variables';

@import '../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../node_modules/bootstrap/scss/bootstrap-grid';
@import '../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fontawesome';
@import '../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fa-solid';
@import '../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fa-brands';

@import 'styles-reset';

@import '../node_modules/@angular/material/theming';

@include mat-core();

@import 'themes/default-theme.scss';
@import 'themes/light-theme.scss';
@import 'themes/black-theme.scss';
@import 'themes/nature-theme.scss';

@import 'styles-reset.scss-theme';
@import 'app/app.component.scss-theme';
@import 'app/shared/big-input/big-input.component.scss-theme';
@import 'app/examples/todos/todos.component.scss-theme';
@import 'app/examples/stock-market/stock-market.component.scss-theme';
@import 'app/examples/theming/parent/parent.component.scss-theme';
@import 'app/examples/theming/child/child.component.scss-theme';
@import 'app/examples/examples/examples.component.scss-theme';

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@mixin custom-components-theme($theme) {
  @include anms-styles-reset-theme($theme);
  @include anms-app-component-theme($theme);
  @include anms-big-input-component-theme($theme);
  @include anms-todos-component-theme($theme);
  @include anms-stock-market-component-theme($theme);
  @include anms-parent-component-theme($theme);
  @include anms-child-component-theme($theme);
  @include anms-examples-component-theme($theme);
}

.default-theme {
  @include angular-material-theme($anms-theme);
  @include custom-components-theme($anms-theme);
}

.light-theme {
  @include angular-material-theme($anms-light-theme);
  @include custom-components-theme($anms-light-theme);
}

.black-theme {
  @include angular-material-theme($anms-black-theme);
  @include custom-components-theme($anms-black-theme);
}

.nature-theme {
  @include angular-material-theme($anms-nature-theme);
  @include custom-components-theme($anms-nature-theme);
}

@import "styles/buttons";
@import "styles/panel";
@import "styles/list";
@import "styles/form";
@import "styles/topMenu";
@import "styles/pages";
@import "styles/table";
@import "styles/pageTitle";
