$fa-font-path: '../node_modules/@fortawesome/fontawesome-free-webfonts/webfonts';

$color1: #5c9c5c;
$color2: #2c5282;
$color3: #e07850;
$text-black: #444;
$text-white: #fff;

$color-light-1: #e2e2e2;
$color-light-2: #fafafa;
$color-medium-1: #808080;
$color-orange-1: #e07850;
$color-red-1: #cc4246;
$color-grey-1: #505050;
$color-green-1: #5c9c5c;
$color-brown-1: #291911;
$color-blue-1: #24356e;
$color-blue-2: #008bd1;
$color-teal-1: #2b6e6d;
$color-yellow-1: #b5a900;
